.order{
    width: 100%;
   
}

.division{
    width: 97%;
    /* justify-content: center; */
    border-top: 1px solid black;	
  
}
.order h2{
    margin-left:20px ;
    font-size: 18px;
    text-align: left;
}

.ordenCompleta{
  
    font-size: 14px;
    width: 70%;
    margin-top: 20px;
    margin-left:20px;
    /* text-align: center; */
    line-height: 1.7rem;;

}

.total{
    font-weight: bold;
    text-align:center;
}
.ordenCompleta td button{
    height: 20px;
    width: 70px;
    background: #DE4F5C;
    color:white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(62, 58, 58, 0.276);
}

.segundaDivision{
    width: 60%;
    border-top: 1px solid black;
    margin-left: 17px;
}

.ordenar{
    width: 95px;
    height: 30px;
    border: none;
    background: #C89B6E;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(62, 58, 58, 0.276);
   margin-top: 20px;
    margin-left: 370px;

}