.mainCenter{
	display: flex;
    align-items: stretch;
    justify-content: space-around;
}


.mainCard{
	/* margin-left: 200px;
	margin-top: 50px; */
	
}

.mainOrden{
	margin-top: 100px;
}

.mainMenu{
	/* margin-top: -330px; */
	
}